// Variables

$whole-width: 100lvw;
$nav-height: 5lvh;
$main-height: 90lvh;


$white: #fff;
$black: #000000;
$grey: #9d9e965e;
$crystal: #a8dadd;
$colum-blue: #cee9e4;
$midnight-green: #01565b;
$yellow: #e5f33d;
