@use "variables" as *;

#navbar {
    display: flex;

    width: $whole-width;
    height: $nav-height;
    background-color: $grey;
}

#main-container {
    display: flex;

    width: $whole-width;
    height: $main-height;
    background-color: $crystal;
}

#footer-container {
    display: flex;
    
    width: $whole-width;
    height: $nav-height;
    background-color: $grey;
}
