#main-container {
    .main-left-container,
    .main-right-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-left-container{
        align-items: center;
    }
}
