@use "./styles/variables";

@use "./styles/layout.scss";

@use "./styles/navbar.scss";

@use "./styles/main.scss";

@use "./styles/footer.scss";

@use "./styles/bootstrap.scss";

body {
    overflow-y: auto;
    overflow-x: hidden;
}

#svgMap {
    width: 100%;
    height: 100%;
}
